<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ошибка 400</title>
    <link rel="stylesheet" href="/static/8f3bdc1/styles/error.css" />
  </head>
  <body class="error-page not-found">
    <div class="error-container">
      <h1 class="error-code">400</h1>
      <div class="error-message">
        <h2>Page not found</h2>
        <p>Sorry, the page you requested does not exist.</p>
        <a href="/" class="btn-home">Go to the main page</a>
      </div>
    </div>
  </body>
</html>
