<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist Details</title>
    <link rel="stylesheet" href="/static/8f3bdc1/styles/details.css" />
    <link rel="stylesheet" href="/static/8f3bdc1/styles/style.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <div class="header-content">
          <a href="/" class="site-title-link">
            <h1 class="site-title"><span>Groupie</span> Tracker</h1>
          </a>
        </div>
      </div>
    </header>
    <main id="details-container" class="container">
      <p>Loading...</p>
    </main>
    <footer class="site-footer">
      <div class="container">
        <div class="footer-content">
          <p>© 2025 Groupie Tracker</p>
          <a href="/" style="color: white; text-decoration: none"
            >Back to Home</a
          >
        </div>
      </div>
    </footer>
    <script src="/static/8f3bdc1/js/details.js" defer></script>
  </body>
</html>
