* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.error-page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.error-container {
  max-width: 500px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.error-code {
  font-size: 5rem;
  color: #000000;
  margin-bottom: 1rem;
}

.error-message h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.error-message p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #666;
}

.btn-home {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-home:hover {
  background-color: #5c5c5c;
}
